
@{
    ViewBag.Title = "Ruudukkotesti";
}

<h2>Ruudukkotesti</h2>

<button class="btn btn-info">Poista <span class="glyphicon glyphicon-trash"></span></button>
<p>&nbsp;</p>


<div class="row">
    <div class="col-xs-3" style="background-color: green;">Vasen sarake</div>
    <div class="col-xs-3" style="background-color: palevioletred;">Keskisarake</div>
    <div class="col-xs-3" style="background-color: red;">Oikea sarake</div>
</div>

<div class="row">
    <div class="col-xs-3" style="background-color: darkturquoise;">Vasen sarake 2</div>
    <div class="col-xs-3" style="background-color: peachpuff;">Keskisarake 2</div>
    <div class="col-xs-3" style="background-color: firebrick;">Oikea sarake 2</div>
</div>